* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: bisque;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(231,122,102);
    background: radial-gradient(circle, rgba(231,122,102,1) 0%, rgba(242,33,0,1) 100%);
    color: white;
    padding: 10px 20px;
    z-index: 10;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    
}

.logo h2 {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  
}

.headlink {
    display: flex;
    gap: 20px;
}

.headlink a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.headlink a:hover {
    text-decoration: underline;
}



footer {
    
    background: rgb(231,122,102);
    background: radial-gradient(circle, rgba(231,122,102,1) 0%,  #930000 100%);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer h3 {
    font-size: 1rem;
}
